# This file contains pin mappings for the stock 2021 Creality Ender 7.
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include misc-macros.cfg]
#[include adxl.cfg]

[mcu]
serial: /dev/serial/by-path/pci-0000:00:10.0-usb-0:2:1.0-port0
restart_method: command

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA5
position_endstop: 0
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: ^PA6
position_endstop: 220
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PA7
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -5                        # enable to use BLTouch
position_max: 290

[screws_tilt_adjust]
screw1: 0, 15
screw1_name: Vorne Links
screw2: 150, 15
screw2_name: Vorne Rechts
screw3: 150, 200
screw3_name: Hinten Rechts
screw4: 0, 200
screw4_name: Hinten Links
speed: 80
#horizontal move z: 10
#screw_thread: CW-M4

[extruder]
max_extrude_only_distance: 1000.0
max_extrude_cross_section = 5.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 3.364928
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 19.122
#pid_Ki: 0.898
#pid_Kd: 101.825
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PA15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 70.499
#pid_Ki: 1.546
#pid_Kd: 803.686
min_temp: 0
max_temp: 100

[fan]
pin: PA0


[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PA4

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 9000
max_z_velocity: 10
max_z_accel: 100

[input_shaper]
#shaper_freq_x: 81.2
#shaper_type_x: zv
#shaper_freq_y: 100.6
#shaper_type_y: mzv



#####################################################################
#   Probe Related
#####################################################################

[probe]
pin: PB1
x_offset: 60
y_offset: 0
#z_offset: 0
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 130, 130 # NOTE The probe is at the center of the bed.
speed: 100.0
z_hop: 10
z_hop_speed: 15

[bed_mesh]
speed: 100
mesh_min: 60, 10
mesh_max: 230, 210
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#[gcode_macro G29]                    # If moving from marlin to klipper uncomment to mimic G29
#gcode:
 #G28
 #BED_MESH_CALIBRATE
 #G1 X0 Y0 Z10 F4000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.745
#*# pid_ki = 1.112
#*# pid_kd = 1289.552
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.424
#*# pid_ki = 0.590
#*# pid_kd = 128.723
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.035000, -0.125000, -0.045000, 0.030000
#*# 	0.100000, 0.120000, 0.122500, 0.115000
#*# 	-0.150000, -0.197500, -0.222500, -0.245000
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 60.0
#*# max_x = 174.24
#*# min_y = 63.74
#*# max_y = 156.24
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 56.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 55.8
#*#
#*# [probe]
#*# z_offset = 2.050
